* h1, h2, h3, h4, h5, h6 {
    color: aliceblue;
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-variation-settings:
      "wdth" 100;
}

@property --x {
    syntax: "<length>";
    inherits: false;
    initial-value: -100%;
}

@property --y {
    syntax: "<length>";
    inherits: false;
    initial-value: -100%;
}

@property --gradient-deg {
    syntax: "<angle>";
    inherits: false;
    initial-value: 45deg;
}

@keyframes gradient-deg {
    0% { --gradient-deg: 0deg; }
    50% { --gradient-deg: 180deg; }
    100% { --gradient-deg: 360deg; }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dotted-bg {
    overflow: visible;
    z-index: -2;
    position: fixed;
    width: 300vw;
    height: 300vh;
    background-color: transparent;
    background-image: radial-gradient(circle, #272727 2px, transparent 2px);
    background-size: 40px 40px;
}

#blur-circle {
    opacity: 0%;
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    mask: radial-gradient(10rem at var(--x) var(--y), black 0%, black 50%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(3px);
    overflow: visible;
}

.svg-effects {
    position: fixed;
    display: none;
}

html {
    overflow: hidden;
}

@keyframes blob-container-fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#blob-container-container {
    filter: blur(40px);
    overflow: visible;
    position: fixed;
    transform: translate3d(0, 0, 0);
    width: 100vw;
    height: 100vh;
    z-index: -3;
}

.blob-container {
    filter: url('#goo');
    transform: translate3d(0, 0, 0);
    animation: forwards;
    animation-name: blob-container-fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0%;
    z-index: -3;
    overflow: hidden;
}

.blob1 {
    z-index: -3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    min-width: 50px;
    min-height: 50px;
    aspect-ratio: 1 / 1;
    background: linear-gradient(45deg, #803df4 0%, #ae47de 100%);
    border-radius: 50%;
}

.blob2 {
    z-index: -3;
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 10rem;
    min-width: 50px;
    min-height: 50px;
    aspect-ratio: 1 / 1;
    background: linear-gradient(45deg, #d45eec 0%, #de47cf 100%);
    border-radius: 50%;
}

.blob3 {
    z-index: -3;
    position: fixed;
    top: 75%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 7rem;
    min-width: 50px;
    min-height: 50px;
    aspect-ratio: 1 / 1;
    background: linear-gradient(45deg, #47e3ff 0%, #ff25ba 100%);
    border-radius: 50%;
}

.blob4 {
    z-index: -3;
    position: fixed;
    top: 86%;
    left: 87%;
    transform: translate(-50%, -50%);
    width: 7rem;
    min-width: 50px;
    min-height: 50px;
    aspect-ratio: 1 / 1;
    background: linear-gradient(45deg, #da08ff 0%, #c9327b 100%);
    border-radius: 50%;
}

#background {
    animation: 10s gradient-deg linear infinite;
    z-index: -3;
    mask: radial-gradient(10rem at var(--x) var(--y), rgba(0,0,0,0.8858996479451156) 0%, rgba(0,0,0,0.8606895639115021) 9%, rgba(0,0,0,0.7710537095697654) 26%, rgba(0,0,0,0.5973842417826505) 44%, rgba(0,0,0,0.35690805130646013) 63%, rgba(0,0,0,0.07357471797312676) 91%, rgba(0,0,0,0) 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    opacity: 0%;
    z-index: -2;
    background: linear-gradient(var(--gradient-deg), rgb(88, 60, 241) 0%, rgb(255, 0, 217) 27%, rgba(200,102,207,1) 35%, rgb(60, 213, 255) 76%, rgb(0, 255, 234) 100%);
}

body {
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vw;
    box-sizing: border-box;
    max-width: 100vw;
}

.profile-picture {
    overflow: hidden;
    opacity: 100%;
    position: relative;
    width: min(60vw, 220px);
    height: min(60vw, 220px);
    border-radius: 50%;
    margin-bottom: 4vh;
    transition: ease-in-out 2s;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.profile-picture::before,
.profile-picture::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
}

.profile-picture::before {
    background-image: url('/img/pfp.png');
    background-size: cover;
    opacity: 1;
}

.profile-picture::after {
    background-image: url('/img/cat.png');
    background-size: cover;
    border-radius: 50%;
    opacity: 0;
}

.profile-picture:hover::before {
    opacity: 0;
}

.profile-picture:hover::after {
    opacity: 1;
}

.greeting-name {
    margin-bottom: 4vh;
}

.profile-greeting {
    font-size: min(8vw, 32px);
    margin: 0;
}

.profile-name {
    font-size: min(11vw, 48px);
    margin: 0;
}

.socials {
    display: flex;
    justify-content: center;
    gap: min(4vw, 28px);
}

.socials img, .socials a {
    border-radius: 25%;
    width: min(16vw, 120px);
    height: min(16vw, 120px);
}