.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.tab {
  display: none;
  height: 50px;
  background-color: #ccc;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-family: "JetBrains Mono", monospace;
}

 

