html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px); /* Specify the desired height */
  grid-gap: 10px;
}

.tab {
  display: none;
  background-color: black; /* Set the background color to black */
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  color: white; /* Set the text color to white */
  font-family: "JetBrains Mono", monospace;
  width: 100%; /* Fill up the available width */
  height: 100%; /* Specify the desired height */
}

  
